body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: 300;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
section>.title{
    text-align: center;
}

@media (min-width:768px){
    .row{
        display: flex;
    }
    .row .col-6{
        flex:0 0 50%;
    }
    .row .col-5{
        flex:0 0 40%;
    }
    .row .col-7{
        flex:0 0 60%;
    }
    
}
.row-center{
    justify-content: center;
}
.menu{
    text-align: center;
}
.menu a{
    color: black;
    text-transform: uppercase;
    padding: 14px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.menu a:hover{
    background-color: black;
    color:white;
}
.title{
    padding: 15px;
    font-weight:bold;
    text-transform: uppercase;
}
#welcome{
    color:white;
    overflow: hidden;
    position: relative;
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/picture.jpg);
}
#welcome .cover{
    width: 100%;
    min-height: 500px;
    background-image: linear-gradient(45deg,rgba(202, 27, 27, 0.3),rgba(85, 85, 85, 0.6));
}
#welcome .row{
    min-height: 500px;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
}
#welcome .row .col{
    flex: 1;
}
#welcome .name{
    font-weight: 300;
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
}
#welcome .details {
    letter-spacing: 2px;
    margin: 0 12%;
}
.download{
    color:white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    border:2px solid white;
    text-transform: uppercase;
    background-color: #b88c10;
    transition: all 0.3s ease;
}
.download:hover{
    color: #b88c10;
    border-color:#b88c10;
    background-color:white;
}
.icon{
    width: 20px;
    height: 20px;
    padding: 5px;
    color: black;
    line-height: 1.3;
    border-radius: 100%;
    display: inline-block;
    border:1px solid black;
    background-color: white;
}
.socials{
    padding: 0;
}
.socials li{
    list-style: none;
}
.icon:hover{
    box-shadow: 0 0 5px gray;
    color:white;
    background-color: black;
}

/* about area  */
.image-area{
    padding-top:2%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.image-area >img{
    border:1px solid red;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}
.about-area{
    padding:2% 15px 2%;
}

.about-area .intro{
    color:#ffd900;
    font-size: 30px;
}
.about-area .intro b{
    color:#1b1b1b;
}
.about-area .details{
    padding: 5px;
    line-height: 2;
}
.about-area .thanks{
    font-weight: bold;
    color:#ffd900;
}
.about-area .info{
    padding: 30px;
}
.about-area .info ul{
    padding: 15px 20px;
    box-shadow: 0 0 5px black;
    border-radius: 4px;
    background-color: gray;
}
.about-area .info ul>li{
    list-style: none;
    line-height: 2;
    font-size: 18px;
    color:#efefef;
}
.about-area .info ul>li b{
    color:#ffd900;
}


/* end about area  */
/* timeline area  */
#timeline{
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../img/timeline-bg.jpg);
}
#timeline .cover{
    background:rgba(255, 255, 255, 0.9);
    min-height: 100vh;
}

#timeline .title{
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
}
#timeline .title p{
    color:#727272;
}
#timeline .content{
    position: relative;
    min-height: 80vh;
}
#timeline .line{
    top:5%;
    left:80px;
    width: 5px;
    height: 90%;
    position: absolute;
    background-color: #b88c10;
}
#timeline .container{
    padding-top:5%;
    padding-bottom:5%;
}
#timeline .card{
    padding:15px;
    position: relative;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px gray;
    width: calc(100% - 150px);
    background-color: white;
    margin-left: 100px;
}
#timeline .card .time{
    color:#ffd900;
    font-weight: bold;
}
#timeline .card .card-details{
    color:gray;
}
#timeline .card::after{
    top:10px;
    left:-30px;
    content:'';
    display: block;
    position: absolute;
    border:20px solid transparent;
    border-right-color:white;
}
#timeline .card::before{
    top: 18px;
    left: -28px;
    content: '';
    height: 20px;
    width: 20px;
    z-index: 100;
    display: block;
    position: absolute;
    border-radius: 100%;
    background-color: black;
    border-right-color: white;
}
/* end timeline area  */
#contact{
    padding:5% 15px;
}

.form-group{
    display: flex;
    flex-direction: column;
}
.form-group >label{
    flex: 1;
    margin: 5px;
}
.form-group >input,
.form-group >textarea{
    flex: 1;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}
.submit{
    flex:1;
    padding:5px
}
.submit .btn{
    width: 100%;
    padding:10px;
    background-color:#ffd900;
    border:none;
    border-radius: 4px;
    display: block;
}

#contact .title{
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
}
.list-style li{
    line-height: 3;
    list-style: none;
}
.app-footer{
    overflow: hidden;
    background: gray;
    text-align: center;
}